$color1: rgb(16, 136, 62);



.productCard{
    border: 1 solid slateblue;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    flex:0 1 250px ;


    img{
        border-radius: 2rem 2rem 0 0;
        width: 100%;
        height: auto;
    }
    .discount{
        position: absolute;
        left: 1rem;
        top: 1rem;
       display: inline-block;
       padding:0.5rem 1rem ;
       background-color: rgb(16, 136, 62);
       border-radius:1rem ;
       color: white;
    }
    .stars{
color:  rgb(16, 136, 62);

    }
    .prices{
        color:  rgb(16, 136, 62);
        display: flex;
        gap: 1rem;
        justify-content: center;

        .discounted-price{
            text-decoration: line-through;
        }
        .standart-price{
            font-weight: bold;


        }


    }
}